/* .choosed--Cars {
  opacity: 0.4;
} */
.Main--Cars {
  /* background-image: url("../Photos/d.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1 !important;
}
.body--Cars {
  background-color: rgb(29, 28, 28);
  height: 89vh;
  display: flex;
}

.body--Cars--Second {
  width: 100%;
  height: 99%;
  position: relative;
  color: white;
}

ul {
  height: 1vh;
}
.li-Icons {
  cursor: pointer;
  color: white;
  display: flex;
  border-radius: 5px;
}
.li-icons img {
}
.li-Icons:hover {
  opacity: 0.5;
}
.li-Icons--choosed {
  color: white;
  display: flex;
  border-bottom: solid white;
  border-radius: 5px;
}
.icon--ul img {
  width: 30px;
  height: 30px;
  background-color: yellow;
}

.cars--Container {
  position: relative;
  display: grid;
  grid-auto-flow: column; /* Places items in a horizontal row */
  grid-template-columns: repeat(auto, minmax(500px, auto));
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 100px;
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 81.6vw;
  height: 99%;
  scroll-behavior: smooth;
}
.cars--Container::-webkit-scrollbar {
  border-radius: 3%;
  height: 5px; /* Adjust the width as needed */
  background-color: #3a3434; /* Background color of the scrollbar */
}
.cars--Container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  height: 50%;
  cursor: pointer;
  background-color: white;
}
.cars--Each {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 80% !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 25px;
  height: 80%;
  margin-top: 5%;
  background-color: rgba(75, 30, 30, 0.753);
  /* background-color: #00000064; */

  box-shadow: 0px 0px 10px 5px rgba(230, 227, 227, 0.75);
}

.cars--Each img {
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  width: 100% !important;
  cursor: pointer;
}
.cars-image-name {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
  margin: 0;
  padding: 0;
  position: relative;
}
.cars-image-name h2 {
  display: flex;
  justify-content: center;
  color: rgb(216, 149, 72);
  font-size: 15px;
}
.cars-image-name p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  height: 2%;
}
.price--fullView {
  justify-content: center;
  width: 100%;
  display: flex;
}

.cars--Each--Imgblur {
  filter: blur(5px);
  opacity: 0.7;
  transition: 1s;
}

.Login {
  position: relative;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(128, 128, 128, 0.534);
  opacity: 0.9;
}
.contact--us {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ourContactInfo {
  width: 40%;
}
.contactusAndQuestions {
  display: flex;
  width: 80%;
  height: 80%;
}
.Location {
  width: 100%;
  height: 30%;
  background-color: #3a3434;
}

.login {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  height: 60%;
  background-color: rgba(241, 233, 233, 0.89);
  opacity: 0.9;
}
.login .closeIcon {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 30px;
  border-radius: 100%;
  border: solid white;
  color: rgb(78, 74, 74);
  position: absolute;
  right: -1vw;
  top: -2vh;
  cursor: pointer;
}
.login--Inputs {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  align-items: center;
  gap: 20px;
  height: 30%;
  width: 100%;
}
.sss {
  display: flex;
  width: 80%;
  height: 40%;
  position: relative;
}
.iconUser {
  width: 25px;
  height: 100%;
  position: absolute;
  right: 5px;
  opacity: 0.7;
}
.login--Inputs input {
  border: none;
  width: 100%;
  border-radius: 15px;
  height: 100%;
}
.afterLogin {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 15vh;
  border-bottom: 1px solid gray;
  position: relative;
}
.register {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.resetAndBut {
  position: relative;
  width: 100%;
  height: 100%;
}
.exchange {
  height: 40%;
  width: 20%;
  border-radius: 15px;
}
.lAndD {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: black;
  border-radius: 15px;
  background-color: white;
}
.lAndD:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.lari {
  opacity: 0.5;
}
.dolari {
  opacity: 0.5;
}
.lari--Y {
  color: rgb(71, 71, 16);
}
.Dollar--Y {
  color: green;
}

.afterLogin button {
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}
.iconOfLogin {
  position: relative;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10%;
}
.resetAndBut p {
  position: absolute;
  right: 0;
  top: 0;
}
.logInButAndIcon {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 12px;
  height: 45%;
  cursor: pointer;
  border: solid black;
  background-color: white;
}
.afterLogin p {
  cursor: pointer;
  font-size: 11px;
}

.cars--Each:hover {
  scale: 1.1;
  transition: 1s;
}
.cars--Eachblur img {
  width: 350px;
  height: 280px;
}
/* .cars--Each:hover .cars--Each--Img {
  filter: blur(5px);
  opacity: 0.7;
}

/* This will reset the style for the element being hovered */
/* .cars--Each--Img:hover {
  filter: none;
  opacity: 1;
} */
.left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.35vw;
  height: 99%;
  cursor: pointer;
  z-index: 1;
  /* background-color: rgba(75, 30, 30, 0.753); */
}
.left img {
  width: 60px;
  height: 60px;
  rotate: 180deg;
}

.right {
  position: absolute;
  right: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.35vw;
  height: 99%;
  cursor: pointer;
  z-index: 1;
  /* background-color: rgba(75, 30, 30, 0.753); */
}
.right img {
  width: 60px;
  height: 60px;
}
.cars--Arrow--Left {
  position: absolute;
  color: white;
  height: 60px;
  rotate: 90deg;
  width: 70px;
  cursor: pointer;
}
.cars--Arrow--Right {
  position: absolute;
  right: 1%;
  color: white;
  transform: translateX(-0%);
  height: 60px;
  rotate: 270deg;
  width: 70px !important;
  cursor: pointer;
}

.cars--Arrow--Right:hover {
  opacity: 0.6;
  scale: 1.2;
  transition: 1s;
}
.cars--Arrow--Left:hover {
  opacity: 0.6;
  scale: 1.2;
  transition: 1s;
}
@media (max-width: 1420px) {
  .body--Cars {
    flex-direction: column;
  }
  .cars--Container {
    border-start-start-radius: 30px;
    border-left: 7px solid rgba(216, 149, 72, 0.74);
    border-top: 7px solid rgba(216, 149, 72, 0.74);
    border-end-end-radius: 30px;
    border-right: 7px solid rgba(216, 149, 72, 0.74);
    border-bottom: 7px solid rgba(216, 149, 72, 0.74);
    margin-top: 5vh;
    width: 97vw;
  }
}
