.header--Main {
  background-color: rgba(75, 30, 30, 0.753);
}
.header--Main nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header--Main nav ul {
  position: absolute;
  width: 50vw;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--Main nav .li-Icons--choosed--main {
}
.close {
  width: 25px;
  height: 15px;
}

.header--Main nav ul li {
  font-family: "Niconne";
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
  color: white;
  cursor: pointer;
}
.li-Icons--choosed--main {
  color: white;
  display: flex;
  border-bottom: solid white;
  border-radius: 5px;
}
.header--Main img {
  width: 30px;
  height: 20px;
}
.Logo--Currency--Language {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.Logo--Currency--Language img {
  width: 10%;
  margin-left: 20px;
  height: 100%;
}
.language--img {
  position: absolute;
  right: 20px;
  width: 50px !important;
  height: 50px !important;
}
@media (max-width: 958px) {
  .header--Main nav ul {
    right: 2%;
    width: 96%;
    justify-content: space-between;
  }
}
@media (max-width: 871px) {
  /* Styles for viewports that are at least 600 pixels wide */
  .header--Main nav ul li {
    font-size: 12px;
  }
}
@media (max-width: 448px) {
  /* Styles for viewports that are at least 600 pixels wide */
  .header--Main nav ul li {
  }
  .header--Main img {
    width: 20px !important;
    height: 20px !important;
  }
}
