.Contact--Main {
  color: white;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  position: absolute;
  width: 99.9vw;
  height: 99.9vh;
  background-color: rgba(128, 128, 128, 0.534);
}
.exit-icon {
  border-radius: 100%;
  background-color: rgba(241, 233, 233, 0.89);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
  cursor: pointer;
}
.exit-icon img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact--Content--h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.Contact--Main--Both {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Contact--Content {
  display: flex;
  position: relative;
  width: 800px;
  height: 700px;
  background-color: rgb(75, 30, 30);
  opacity: 0.9;
}
.first--Half {
  margin-left: 5%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
}
.First--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
.Second--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
.Third--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.First--Content img {
  width: 30px;
  height: 30px;
}
.Second--Content img {
  width: 30px;
  height: 30px;
}
.Third--Content img {
  width: 30px;
  height: 30px;
}

.second--Loc {
  width: 70%;
}
.second--Loc h3 {
  width: 100%;
  margin: 0;
}
.img--Loc {
  background-color: white;

  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}
.First--Content h3 {
  width: 100%;
  margin: 0;
  padding: 0;
}
.First--Content p {
  margin: 0;
}
.Second--Half {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Second--Half--Child {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.Second--Half--Child input {
  width: 380px;
  height: 100px;
}
.Big--Text {
  font-size: 13px;
  position: relative;
  background-color: white;
  width: 380px !important;
  height: 400px !important;
}

.Second--Half--Child button {
  width: 380px;
  height: 60px;
}
.Second--Half--Child button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .Contact--Content {
    width: 650px;
    height: 650px;
  }
  .Second--Half--Child {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .Second--Half--Child input {
    width: 300px;
    height: 100px;
  }
  .Big--Text {
    font-size: 13px;
    position: relative;
    background-color: white;
    width: 300px !important;
    height: 400px !important;
  }

  .placeholder--p {
    opacity: 0.7;
  }
  .Second--Half--Child button {
    width: 300px;
    height: 60px;
  }
}
@media (max-width: 850px) {
  .Contact--Content {
    width: 550px;
    height: 650px;
  }

  .Second--Half--Child {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .Second--Half--Child input {
    width: 300px;
    height: 100px;
  }
  .Big--Text {
    font-size: 13px;
    position: relative;
    background-color: white;
    width: 300px !important;
    height: 400px !important;
  }

  .placeholder--p {
    opacity: 0.7;
  }
  .Second--Half--Child button {
    width: 300px;
    height: 60px;
  }
}
@media (max-width: 630px) {
  .Contact--Content {
    width: 430px;
    height: 750px;
  }
  .Contact--Main--Both {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
  }
  .Second--Half {
    border: soid red;
  }
  .first--Half {
    margin-top: 60px;
  }
  .Second--Half--Child {
    margin-left: 2vw;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .Second--Half--Child input {
    width: 300px;
    height: 50px;
  }
  .Big--Text {
    font-size: 13px;
    position: relative;
    color: black;
    background-color: white;
    width: 300px !important;
    height: 300px !important;
  }

  .placeholder--p {
    opacity: 0.7;
  }
  .Second--Half--Child button {
    width: 300px;
    height: 60px;
  }
}
@media (max-width: 469px) {
  .Contact--Content {
    width: 350px;
    height: 600px;
  }
  .Contact--Main--Both {
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 100%;
  }
  .first--Half {
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
  }
  .First--Content {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    height: 30%;
  }
  .Second--Content {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    font-size: 12px;
  }
  .Third--Content {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
  }
  .Big--Text {
    font-size: 13px;
    position: relative;
    color: black;
    background-color: white;
    width: 300px !important;
    height: 180px !important;
  }
}
