.Contact--Main {
  color: white;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  position: absolute;
  width: 99.9vw;
  height: 99.9vh;
  background-color: rgba(128, 128, 128, 0.534);
}
.exit-icon {
  border-radius: 100%;
  background-color: rgba(241, 233, 233, 0.89);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
  cursor: pointer;
}
.exit-icon img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact--Content {
  position: relative;
  width: 60vw;
  height: 70vh;
  background-color: rgb(75, 30, 30);
  opacity: 0.9;
}
.first--Half {
  margin-left: 5%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
}
.First--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 35%;
  height: 30%;
}
.Second--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 35%;
  height: 30%;
}
.Third--Content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 35%;
}
.First--Content img {
  width: 30px;
  height: 30px;
}
.Second--Content img {
  width: 30px;
  height: 30px;
}
.Third--Content img {
  width: 30px;
  height: 30px;
}
.second--Loc {
  width: 70%;
}
.second--Loc h3 {
  width: 100%;
  margin: 0;
}
.img--Loc {
  background-color: white;

  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}
.First--Content h3 {
  width: 100%;
  margin: 0;
  padding: 0;
}
.First--Content p {
  margin: 0;
}
