.Filter--Main {
  width: 18vw;
  background-color: rgb(75, 30, 30);
  /* background-color: rgba(27, 27, 61, 0.524); */
  height: 75vh;
  display: grid;
  border-end-start-radius: 30px;
  border-start-start-radius: 30px;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-areas:
    "Filter--Search"
    "Filter--Marka"
    "Filter--Model"
    "Filter--Year"
    "Filter--Location"
    "Filter--Prices"
    "Filter--PriceSlider"
    "Filter--Submit";
}
.filter--Close {
  z-index: 6;
  position: absolute;
  display: flex;
  left: -1.2vw;
}
.filter--Close--Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.filter--Close--Button img {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  width: 20px;
  height: 20px;
}
.Filter--Main--Main--HideTag {
  display: none;
}
.Filter--Search {
  grid-area: Filter--Search;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 98, 48, 0.729);
}

.Filter--Search--Button {
  width: 80%;
  height: 40%;
  background-color: white;
  border-radius: 15px;
  border: none;
  outline: none;
}
.Filter--Search--Button:active {
  opacity: 0.4;
}
.Filter--Marka {
  grid-area: Filter--Marka;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Filter--Marka--Div {
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 60%;
  background-color: white;
  cursor: pointer;
}
.Filter--Marka--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
  overflow-y: auto;
}
.Filter--Model {
  grid-area: Filter--Model;
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Filter--Model--Div {
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 60%;
  background-color: white;
  cursor: pointer;
}
.Filter--Model--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.Filter--Year {
  grid-area: Filter--Year;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Filter--Years--Both {
  grid-area: Filter--Years;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}
.Filter--Years--Both--St {
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
  height: 100%;
  background-color: white;
}
.Filter--Years--St--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 20vh;
  margin-top: 5vh;
  border-radius: 10px;
}
.Filter--Years--Both--Nd {
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
  height: 100%;
  background-color: white;
}
.Filter--Years--Nd--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 20vh;
  margin-top: 5vh;
  right: 0;
  border-radius: 10px;
}
.Filter--Location {
  grid-area: Filter--Location;
  z-index: 2;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Filter--Location--True {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.Filter--Location--Div {
  font-size: 14px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 60%;
  background-color: white;
}
.Filter--Prices {
  grid-area: Filter--Prices;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Filter--Prices--Div {
  font-size: 14px;

  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}
.Filter--Prices--Div--Min {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Min--True {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 30%;
  height: 13vh;
  margin-top: 5vh;
  border-radius: 10px;
}
.Filter--Prices--Div--Exchange {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 25%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Max {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Max--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 30%;
  height: 13vh;
  margin-top: 5vh;
  border-radius: 10px;
  right: 0;
}
.Filter--PriceSlider {
  grid-area: Filter--PriceSlider;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.slider {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 80%;
  height: 4px;
  background-color: white;
}
.slider .thumb {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background: white;
}

/* if needed sliders-thumbs
.slider .thumb.thumb-0 {
}
.slider .thumb.thumb-1 {
}
*/
.Filter--Submit {
  grid-area: Filter--Submit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 98, 48, 0.729);
}
.Filter--Submit--Button {
  width: 80%;
  height: 40%;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.Filter--Submit--Button:active {
  opacity: 0.4;
  transform: scale(0.95);
}

/*Dropdown item Same Css */
.Filter--Dropdown--SameForEverone {
  width: 100%;
  min-height: 5vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(222, 217, 212, 0.74);
  cursor: pointer;
  font-size: 13px;
}
.Filter--Dropdown--SameForEverone:hover {
  opacity: 0.5;
}
.Filter--Marka--True,
.Filter--Model--True,
.Filter--Location--True,
.Filter--Years--St--True,
.Filter--Years--Nd--True,
.Filter--Prices--Div--Min--True,
.Filter--Prices--Div--Max--True {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #bc4a4a #f1f1f1;
}
.Filter--Years--St--True,
.Filter--Years--Nd--True,
.Filter--Prices--Div--Min--True,
.Filter--Prices--Div--Max--True {
  margin-top: 7vh;
}
.arrowDowns {
  position: absolute;
  right: 5px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  transition: 0.5s;
}
.arrowUps {
  position: absolute;
  right: 5px;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  transform: rotate(180deg) !important;
  transition: 0.4s;
}
@media (max-width: 1420px) {
}
@media (max-width: 1060px) {
  .Filter--Main {
    width: 400px;
    height: 400px;
  }
  .Filter--Marka--Div,
  .Filter--Model--Div,
  .Filter--Years--Both--St,
  .Filter--Years--Both--Nd,
  .Filter--Location--Div,
  .Filter--Prices--Div,
  .Filter--PriceSlider {
    font-size: 13px;
  }
  .arrowDowns {
    width: 10px;
  }

  .arrowUps {
    width: 10px;
  }
}
@media (max-width: 620px) {
  .Filter--Main {
    width: 350px;
    height: 400px;
  }
}
@media (max-width: 430px) {
  .Filter--Main {
    height: 700px;
    width: 350px;
  }
}
@media (max-width: 400px) {
  .Filter--Main {
    height: 500px;
    width: 350px;
  }
}
