.Filter--Main {
  width: 20vw;
  background-color: rgba(75, 30, 30, 0.753);
  /* background-color: rgba(27, 27, 61, 0.524); */
  height: 90vh;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-areas: "Filter--Search," "Filter--Marka", "Filter--Model",
    "Filter--Model", "Filter--Model", "Filter--Model", "Filter--Model",
    "Filter--Model";
}
.Filter--Search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 28, 28);
}

.Filter--Search--Button {
  width: 80%;
  height: 30%;
  background-color: white;
  border-radius: 15px;
  border: none;
  outline: none;
}
.Filter--Search--Button:active {
  opacity: 0.4;
}
.Filter--Marka {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}
.Filter--Marka--Div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 50%;
  background-color: white;
  cursor: pointer;
}
.Filter--Marka--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
  overflow-y: auto;
}
.Filter--Model {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}
.Filter--Model--Div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 50%;
  background-color: white;
  cursor: pointer;
}
.Filter--Model--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.Filter--Year {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}

.Filter--Years--Both {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}
.Filter--Years--Both--St {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
  height: 100%;
  background-color: white;
}
.Filter--Years--St--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 20vh;
  margin-top: 5vh;
  border-radius: 10px;
}
.Filter--Years--Both--Nd {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
  height: 100%;
  background-color: white;
}
.Filter--Years--Nd--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 20vh;
  margin-top: 5vh;
  right: 0;
  border-radius: 10px;
}
.Filter--Location {
  z-index: 2;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}
.Filter--Location--True {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 20vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.Filter--Location--Div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 80%;
  height: 50%;
  background-color: white;
}
.Filter--Prices {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}
.Filter--Prices--Div {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}
.Filter--Prices--Div--Min {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Min--True {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 30%;
  height: 13vh;
  margin-top: 5vh;
  border-radius: 10px;
}
.Filter--Prices--Div--Exchange {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 25%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Max {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.Filter--Prices--Div--Max--True {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 30%;
  height: 13vh;
  margin-top: 5vh;
  border-radius: 10px;
  right: 0;
}
.Filter--PriceSlider {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgba(216, 149, 72, 0.74);
}
.slider .thumb {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background: white;
}
/* if needed sliders-thumbs
.slider .thumb.thumb-0 {
}
.slider .thumb.thumb-1 {
}
*/
.Filter--Submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 28, 28);
}
.Filter--Submit--Button {
  width: 80%;
  height: 40%;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.Filter--Submit--Button:active {
  opacity: 0.4;
  transform: scale(0.95);
}

/*Dropdown item Same Css */
.Filter--Dropdown--SameForEverone {
  width: 100%;
  min-height: 5vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(216, 149, 72, 0.74);
  cursor: pointer;
  font-size: 13px;
}
.Filter--Dropdown--SameForEverone:hover {
  opacity: 0.5;
}
.Filter--Marka--True,
.Filter--Model--True,
.Filter--Location--True,
.Filter--Years--St--True,
.Filter--Years--Nd--True,
.Filter--Prices--Div--Min--True,
.Filter--Prices--Div--Max--True {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #bc4a4a #f1f1f1;
}
.Filter--Years--St--True,
.Filter--Years--Nd--True,
.Filter--Prices--Div--Min--True,
.Filter--Prices--Div--Max--True {
  margin-top: 7vh;
}
